[submodule "Vendor/Quick"]
	path = Vendor/Quick
	url = https://github.com/Quick/Quick.git
[submodule "Vendor/Nimbie"]
	path = Vendor/Nimbie
	url = https://github.com/Quick/Nimble.git
[submodule "OpenJSCAD"]
	path = OpenJSCAD
	url = https://github.com/Spiritdude/OpenJSCAD.org.git
[submodule "mint-lisp"]
	path = mint-lisp
	url = https://github.com/slepcat/mint-lisp.git
